In [3]:
import bokeh
import pandas as pd

In [19]:
from json import tool
import bokeh.plotting
from bokeh.plotting import show
from bokeh.models import ColumnDataSource


data = pd.read_csv("./cache/datasets/data.csv")
TOOLS="hover,crosshair,pan,wheel_zoom,zoom_in,zoom_out,box_zoom,undo,redo,reset,tap,save,box_select,poly_select,lasso_select,examine,help"

source = ColumnDataSource(data=data)

p = bokeh.plotting.figure(tools=TOOLS)

p.circle("Age", "Income", source=source, size=10)

show(p)

BokehDeprecationWarning: 'circle() method with size value' was deprecated in Bokeh 3.4.0 and will be removed, use 'scatter(size=...) instead' instead.

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   1000 non-null   int64
 1   User_ID                      1000 non-null   object
 2   Age                          1000 non-null   int64
 3   Gender                       1000 non-null   object
 4   Location                     1000 non-null   object
 5   Income                       1000 non-null   int64
 6   Interests                    1000 non-null   object
 7   Last_Login_Days_Ago          1000 non-null   int64
 8   Purchase_Frequency           1000 non-null   int64
 9   Average_Order_Value          1000 non-null   int64
 10  Total_Spending               1000 non-null   int64
 11  Product_Category_Preference  1000 non-null   object
 12  Time_Spent_on_Site_Minutes   1000 non-null   int64
 13  Pages_Viewed                 1000 non-null   int64
 14  Newsletter_Subscription      1000 non-null   bool
dtypes: bool(1), int64(9), object(5)
memory usage: 110.5+ KB

In [18]:
data

,Unnamed: 0,User_ID,Age,Gender,Location,Income,Interests,Last_Login_Days_Ago,Purchase_Frequency,Average_Order_Value,Total_Spending,Product_Category_Preference,Time_Spent_on_Site_Minutes,Pages_Viewed,Newsletter_Subscription
0,0,#1,56,Male,Suburban,38037,Sports,5,7,18,2546,Books,584,38,True
1,1,#2,46,Female,Rural,103986,Technology,15,7,118,320,Electronics,432,40,False
2,2,#3,32,Female,Suburban,101942,Sports,28,1,146,3766,Apparel,306,1,True
3,3,#4,60,Female,Suburban,71612,Fashion,18,3,163,4377,Apparel,527,29,False
4,4,#5,25,Male,Suburban,49725,Travel,2,5,141,4502,Health & Beauty,53,10,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,#996,22,Male,Urban,104162,Technology,18,7,83,607,Apparel,542,21,False
996,996,#997,40,Male,Urban,99003,Travel,16,3,180,431,Apparel,359,4,True
997,997,#998,27,Female,Urban,72395,Technology,8,8,130,650,Books,331,34,False
998,998,#999,61,Male,Rural,59758,Travel,1,3,152,1041,Electronics,427,28,True
999,999,#1000,19,Male,Rural,74312,Sports,12,7,175,827,Health & Beauty,497,38,True